<div class="app-card-container">   
    <div class="card test about-opacity">
    <h3>About Me</h3>

    <hr>

    <div class="row">
    	<div class="col-md-5 ">


    	  <%= image_tag "me.jpg", width:290, height:350, alt:"profile picture", class: 'profile pic' %>
    	</div>

        <div class="col-md-7">
        
        	

        	<p>
        	I am a junior developer that knows Ruby, Rails, CSS, and HTML. I am a web developer seeking a full-time position in the field of in web development.

            </p>

            
        </div>
    </div>
 </div>

