<div class="app-card-container">
    <div class="card test">
    <h3>About Me</h3>

    <hr>

    <div class="row">
    	<div class="col-md-5 ">
    	  <%= image_tag "me.jpg", width:290, height:350, alt:"profile picture", class: 'profile pic' %>
    	</div>

        <div class="col-md-7">
        	<p>
        		jhasldhvad;jgwe;rjgkwegsdjwkdgkdgkadnvkarngkrgkjfkjjkweinerafhasdkhjadhfh</p>
        	

        	<p>
        		;skjafkajgjgjgajgspenisaskfkasfadkjj</p>
        </div>
    </div>
 </div>

