<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4 ">
	  <%= image_tag "me.jpg", width:290, alt:"profile picture" %>
	</div>

    <div class="col-md-8">
    	<p>
    		jhasldhvad;jgwe;rjgkwegsdjwkdgkdgkadnvkarngkrgkjfkjjkweinerafhasdkhjadhfh
    	</p>

    	<p>
    		;skjafkajgjgjgajgspenisaskfkasfadkjj
    	</p>
    </div>
</div>

