<div class="app-card-container">   
    
    <h3>About Me</h3>

    <hr>

    <div class="row">
    	<div class="col-md-5 ">


    	  <%= image_tag "chris.png1.jpeg", width:290, height:300, alt:"profile picture", class: 'profile pic' %>
    	</div>

        <div class="col-md-7">
        
        	

        	<p>
        	I am a junior developer that knows Ruby, Rails, CSS, and HTML. I am a web developer seeking a full-time position in the field of in web development.

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
            <div class="collapse" id="jobHistory">           
              Seven Communications 
            
              <P>Clearlink</P>
            </div>
          

            <div class="collapse" id="education">
            
                Utah Valley University
                <p>Bottega Tech - Computer Science</p>
            </div>
        </p>
    </div>
</div>

