<div class= "app-card-container" >
	<div class='row'>
<h2>Would you like to work together?</h2>
<hr>

<div class='row'>
	<div class='col-m-4'>
		<h3>Office Address</h3>

		<p>4875 W Frogs Leap Dr, South Jordan, Utah 84009</p>

		<h3>Phone</h3>


		<p><%= number_to_phone "801.259.5219" %></p>


						<p><h3 href"mailto:cdanie3l.cook@gmail.com?subject=PortfolioContact" "email me">Email Me</h3> cdani3l.cook@gmail.com<a></p>
					</div>
					<p>
					  <button
					    class= "btn btn-primary, .btn-2:hover, .btn-2:active"
					    type="button"
					    data-toggle="collapse"
					    data-target="jobHistory"
					    aria-expanded="false"
					    aria-controler="jobHistory"					  
					    Job History
						</button>
					
						  <div class="collapse" id="Job History">
						    <div class="card card-block" >
						      
								</div>
						 </div>
					</p>
			</div>
		</div>
	</div>
</div>


