
<h2>Would you like to work together?</h2>

<hr>

<div class='row'>
	<div class='col-m-8'>
		<h3>Office Address</h3>

		<p>4875 W Frogs Leap Dr, South Jordan, Utah 84009</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "801.259.5219" %></p>

		<h3>Email</h3>

		<p><a href"mailto:cdanie3l.cook@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
	</div>

	<div clss="col-md-6">
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.293086376752!2d-111.89580898474907!3d40.50104585843139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752872d4c3bd225%3A0x6882d990917e221f!2s76+W+13800+S%2C+Draper%2C+UT+84020!5e0!3m2!1sen!2sus!4v1513637999844" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
>
	
</div>



