
<h3>Would you like to work together?</h3>

<hr>

<div class='row'>
	<div class='col-m-6'>
		<h3>Office Address</h3>

		<p>4875 W Frogs Leap Dr, South Jordan, Utah 84009</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "801.259.5219" %></p>

		<h3>Email</h3>

		<p><a href"mailto:cdanie3l.cook@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>

<p><%= number_with_delimiter "4552227789412644" %></p>